*{
    margin: 0;
}

body{
    background-image: url(https://i.gifer.com/ZVNW.gif);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

@media(max-width: 768px){
    body{
        background-image: url();
    }
}

.contenedor{
    width: 100%;
    text-align: center;
}

p{
    color: white;
    font-size: 3rem;
    padding: 10%;
}

button{
    font-size: xx-large;
    color: red;
    background-color: yellow;
    border-color: rgb(0, 0, 0);
    padding: 0.75em;
}
.si{
    font-size: xx-large;
    color: red;
    background-color: yellow;
    border: 2.5px rgb(0, 0, 0) solid;
    padding: 0.87em;
    margin-right: 20rem;
}

#noBtn{
    position: absolute;
}